# OS & Editor
*.log
.DS_Store
Thumbs.db
/.idea
/.idea/workspace.xml
/.vscode
/.fleet
/.nova
/.zed
/.phpunit.cache
.phpunit.result.cache
.phpactor.json
.idea/workspace.xml

/storage
# Environment files
.env
.env.backup
.env.production
/auth.json

# Node & Build
/node_modules
/public/build
/public/hot
./storage
.idea
# Laravel specific
/vendor
/public/storage
/storage/*.key
/storage/pail
Homestead.json
Homestead.yaml

# Laravel legacy paths
bootstrap/compiled.php
app/storage/
public_html/storage
public_html/hot
/storage/app/firebase/firebase-service-account.json

